*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
}

@keyframes moveToBottom {
  from {
    opacity: 0.3;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveToRight {
  from {
    opacity: 0.3;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveToLeft {
  from {
    opacity: 0.3;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background-image: -webkit-linear-gradient(to right, #7ed56f, #28b485);
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transition: all 0.2s;
}
.heading-secondary:hover {
  transform: skewX(0) skewY(1.1deg);
}

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1rem;
}

.paragraph {
  font-size: 1rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-8 {
  margin-bottom: 0.5rem;
}

.u-margin-bottom-normal {
  margin-bottom: 1rem;
}

.u-margin-bottom-small {
  margin-bottom: 0.5rem;
}

.u-margin-bottom-larger {
  margin-bottom: 1.5rem;
}

.u-txt-center {
  text-align: center;
}

.u-content-center {
  margin: 0 auto;
}

.btn {
  border-radius: 28px;
  outline: unset;
  outline: unset;
  border: unset;
  padding: 0.9rem 2.5rem;
  position: relative;
  text-transform: uppercase;
}
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  position: relative;
}
.btn--white {
  color: black;
  background-color: #fff;
  border-radius: 28px;
}
.btn--green {
  color: #fff;
  background-color: #55c57a;
}
.btn--green:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: #55c57a;
}
.btn--green:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}
.btn--animation {
  animation: moveToBottom 5s ease;
}
.btn--animation::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: #fff;
}
.btn--animation:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

.btn-text {
  text-decoration: unset;
}
.btn-text:link, .btn-text:visited {
  color: #55c57a;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  border-bottom: 1px solid #55c57a;
}
.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
}
.btn-text:active {
  border-bottom: unset;
}

.composition {
  position: relative;
}
.composition__photo {
  width: 70%;
  max-width: 300px;
  height: auto;
  border-radius: 2px;
  box-shadow: 0 0.5rem 0.4rem -0.4rem black;
  position: absolute;
  transition: all 0.5s;
}
.composition__photo--p1 {
  left: 0;
  top: 0;
}
.composition__photo--p1:hover {
  z-index: 20;
  transform: scale(1.2, 1.2);
}
.composition__photo--p2 {
  left: 16rem;
  top: 2rem;
}
.composition__photo--p2:hover {
  z-index: 20;
  transform: scale(1.2, 1.2);
}
.composition__photo--p3 {
  top: 7rem;
  left: 7rem;
}
.composition__photo--p3:hover {
  z-index: 20;
  transform: scale(1.2, 1.2);
}

.feature-box {
  height: 320px;
  max-width: 250px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 4px;
  text-align: center;
  transition: all 0.5s;
}
.feature-box--center {
  margin: 0 auto;
}
.feature-box__text {
  display: block;
}
.feature-box__icon {
  margin-bottom: 1rem;
}
.feature-box__heading {
  margin-bottom: 1.5rem;
}
.feature-box .icon-back-word {
  background-image: linear-gradient(to right, rgba(185, 81, 63, 0.33), rgba(25, 119, 11, 0.68));
  width: 50px;
  height: 50px;
  display: block;
  background-color: white;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 1rem;
  position: relative;
  color: transparent;
  -webkit-background-clip: text;
  font-size: 2.5rem;
}
.feature-box:hover {
  transform: translate(0, -1rem);
}

.card {
  height: 30rem;
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  box-shadow: 0 0.5rem 0.4rem -0.4rem black;
  max-width: 20rem;
  margin: 0 auto;
}
.card__side {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(100, 100, 100, 0.5);
  border: 1px solid transparent;
  text-align: center;
  transition: all 0.5s;
  backface-visibility: hidden;
}
.card__side--front {
  background-color: #fff;
  transform: rotateY(0deg);
}
.card__side--back {
  background-color: #ffb900;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card:hover .card__side--front {
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
}
.card__picture {
  height: 13rem;
  width: 100%;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}
.card__picture--1 {
  background-image: linear-gradient(to right, rgba(255, 185, 0, 0.25), rgba(255, 119, 48, 0.55)), url("../../img/natural-2.jpg");
  position: relative;
}
.card__picture--2 {
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.25), rgba(40, 180, 133, 0.55)), url("../../img/natural-1.jpg");
  position: relative;
}
.card__picture--3 {
  background-image: linear-gradient(to right, rgba(41, 152, 255, 0.25), rgba(86, 67, 250, 0.55)), url("../../img/natural-3.jpg");
  position: relative;
}
.card__heading {
  font-size: 1.5rem;
  color: #fff;
  position: absolute;
  right: 1rem;
  text-transform: uppercase;
  top: 6.8rem;
  max-width: 70%;
  text-align: right;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  text-align: right;
  line-height: 1.9;
}
.card__heading-span--1 {
  background-image: linear-gradient(to left bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to left bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to left bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card__details {
  margin-top: 1rem;
  padding: 1rem 2rem;
}
.card__details ul {
  list-style-type: none;
}
.card__details ul li {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #777;
}
.card__details ul li:last-child {
  border: unset;
}
.card__back-icon {
  width: 150px;
  height: 150px;
  font-size: 8rem;
}
.card__back-icon--1 {
  background-image: linear-gradient(to left bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
  -webkit-background-clip: text;
  color: transparent;
}

.story {
  width: 75%;
  max-width: 50rem;
  margin: 0 auto;
  padding-left: 4rem;
  padding-right: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  transform: skewX(-12deg);
  background-color: #f7f7f7f7;
  margin-bottom: 3rem;
}
.story__picture {
  width: 10rem;
  float: left;
  clip-path: circle(50% at 50% 50%);
  height: 10rem;
  shape-outside: circle(50% at 50% 50%);
  transform: skewX(12deg) translateX(-2rem);
}
.story__picture img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s;
}
.story__picture figcaption {
  transition: all 0.5s;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  opacity: 0;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
}
.story__text {
  transform: skewX(12deg);
}
.story:hover img {
  filter: blur(1px);
}
.story:hover figcaption {
  opacity: 1;
}

.bg-video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.35;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.form__group {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
}
.form__input {
  width: 100%;
  padding: 0.9rem;
  outline: unset;
  border: unset;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: #777;
  padding-bottom: 0;
  height: 45px;
  transition: all 0.5s;
}
.form__input::placeholder {
  color: transparent;
}
.form__input:placeholder-shown {
  padding-bottom: 0.9rem;
  height: unset;
  text-overflow: ellipsis;
}
.form__input:placeholder-shown ~ .form__label--input {
  font-size: 1rem;
  cursor: text;
  top: 50%;
  transform: translate(0, -50%);
}
.form__label {
  color: #28b485;
  font-size: 0.85rem;
}
.form__label--input {
  position: absolute;
  left: 0.9rem;
  top: 0;
  transform: translate(0, 0);
  font-size: 0.85rem;
  transition: all 0.5s;
}
.form__radio-group {
  display: inline-block;
  position: relative;
}
.form__radio-group--mg-r {
  margin-right: 1.5rem;
}
.form__radio {
  position: absolute;
  left: 0.3rem;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 10;
  opacity: 0;
}
.form__radio:checked ~ .form__label--radio > .form__radio-button::after {
  display: block;
}
.form__label--radio {
  position: relative;
}
.form__label--radio {
  margin-left: 2rem;
}
.form__radio-button {
  width: 1.5rem;
  height: 1.5rem;
  border: 0.25rem solid #7ed56f;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: -2.04rem;
  top: 50%;
  transform: translate(0, -50%);
}
.form__radio-button:after {
  background-color: green;
  width: 70%;
  height: 70%;
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.popup {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 50px;
  z-index: 1700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  visibility: hidden;
}
.popup__content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid rgba(0, 0, 0, 0.8);
  width: 80%;
  /* Could be more or less, depending on screen size */
  min-height: 500px;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.9s;
  opacity: 0;
}
.popup:target {
  visibility: visible;
}
.popup:target > .popup__content {
  transform: unset;
  opacity: 1;
}
.popup__close:link, .popup__close:visited {
  color: #777;
  text-decoration: none;
  font-size: 2rem;
  padding: 0.5rem;
  transition: all 0.8s;
}
.popup__close:hover {
  color: #55c57a;
}

[class*=col-] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.footer {
  padding: 6rem 8rem;
  background-color: #94b4a4;
}
.footer__logo-box {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, red, green);
  color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  margin-bottom: 4rem;
}
.footer__logo {
  font-size: 6rem;
}
.footer__list {
  border-top: 1px solid #d9e4dd;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0.8rem 0;
}
.footer__item {
  padding: 0 1rem;
}
.footer__item:first-child {
  padding-left: unset;
}
.footer__link {
  text-decoration: none;
  color: #cf1b1b;
  transition: all 0.5s;
  font-size: 1.2rem;
}
.footer__link:hover {
  transform: skewY(3deg) scale(1.2);
  display: block;
}

.navigation__checkbox {
  position: fixed;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
}
.navigation__checkbox:checked ~ .navigation__bg {
  transform: scale(80);
  background-image: radial-gradient(#7ed56f, #28b485);
}
.navigation__checkbox:checked ~ .navigation__nav {
  display: block;
}
.navigation__checkbox:checked ~ .navigation__button > .navigation__icon {
  content: "";
  background-color: #fff;
}
.navigation__checkbox:checked ~ .navigation__button > .navigation__icon::before {
  transform: rotate(45deg);
  top: 0rem;
}
.navigation__checkbox:checked ~ .navigation__button > .navigation__icon::after {
  top: 0rem;
  transform: rotate(-45deg);
}
.navigation__button {
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  position: fixed;
  right: 6rem;
  top: 6rem;
  border-radius: 50%;
  z-index: 1700;
  text-align: center;
}
.navigation__bg {
  position: fixed;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  transition: all 0.8s;
  z-index: 1000;
}
.navigation__nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1500;
  text-align: center;
  top: 0;
  left: 0;
  transition: all 0.8s;
  display: none;
}
.navigation__list {
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation__item {
  padding: 0.5rem;
}
.navigation__link {
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: bold;
}
.navigation__icon {
  position: relative;
  margin-top: 1.5rem;
}
.navigation__icon, .navigation__icon::after, .navigation__icon::before {
  content: "";
  width: 2rem;
  height: 2px;
  background-color: black;
  display: inline-block;
}
.navigation__icon::after, .navigation__icon::before {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.5s;
}
.navigation__icon::before {
  top: -0.6rem;
}
.navigation__icon::after {
  top: 0.6rem;
}

.header {
  background-image: linear-gradient(to right bottom, #e13b3b54, #79d4f0), url("../../img/my-icon.jpeg");
  height: 95vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
}

.header__text-box {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 40%;
  width: max-content;
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.heading-primary__main {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 3.1rem;
  display: block;
  animation: moveToRight 5s backwards;
}

.heading-primary__sub {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1.4rem;
  display: block;
  animation: moveToLeft 5s backwards;
}

.section-about {
  background-color: #f7f7f7f7;
  padding: 15rem 0;
  margin-top: -20vh;
}

.section-feature {
  background-image: linear-gradient(to right, rgba(221, 205, 202, 0.2), rgba(236, 42, 7, 0.2)), url("../../img/natural-2.jpg");
  padding: 15rem 0;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 20vh, 100% 0%, 100% 75ch, 0% 100%);
  margin-top: -20vh;
}

.section-tour {
  padding: 15rem 0;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to bottom, rgba(126, 213, 111, 0.9), rgba(40, 180, 133, 0.9));
}
.section-book .book {
  width: 80%;
  max-width: 1280px;
  background-color: red;
  margin: 0 auto;
  height: 28rem;
  background-image: url("../../img/natural.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.section-book .book__box {
  width: 55%;
  float: left;
  clip-path: polygon(0px 0px, 100% 0px, 80.98% 100%, 0% 100%);
  background-color: #fff;
  height: 100%;
  padding: 2rem;
  opacity: 0.95;
}
.section-book .book__form {
  width: 60%;
}

.section-story {
  padding: 15rem 0;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
