@use '../abstracts/variables' as *;

.form {
    &__group{
        width: 100%;
        position: relative;
    }

    &__input {
        width: 100%;
        padding: .8rem;
        outline: unset;
        border: unset;
        -moz-box-shadow: 3px 3px 5px 6px #ccc;
        -webkit-box-shadow: 3px 3px 5px 6px #ccc;
        box-shadow: -1px 1px 4px 1px #cbc4c4;
        background: white;
        box-shadow: 
            rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

    &__lable {
        color: $color-primary-dark;
    }
}