.u-center-text {
    text-align: center;
}

.u-margin-bottom-8 {
    margin-bottom: .5rem;
}

.u-margin-bottom-normal {
    margin-bottom: 1rem;
}

.u-margin-bottom-small {
    margin-bottom: .5rem;
}

.u-margin-bottom-larger {
    margin-bottom: 1.5rem;
}

.u-txt-center {
    text-align: center;
}

.u-content-center {
    margin: 0 auto;
}